<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="opened"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <user-button mat-raised-button [userName]="userName"></user-button>
      <div *ngFor="let game of games">
        <quizz-button
          [imgUri]="game.quizzImgUri"
          [quizzGameName]="game.quizzName"
          (click)="onClick(game.quizzNameValue); drawer.toggle()"
        ></quizz-button>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        mat-button
        id="btnGames"
        (click)="drawer.toggle()"
        matTooltip="Games menu"
      >
        <img
          [src]="imgSrc"
          width="60dp"
          (mouseover)="imgSrc = this.imgMenuIconHover"
          (mouseout)="imgSrc = this.imgMenuIcon"
        />
      </button>
      <span class="title">Edugaming Hub</span>

      

      <button
        *ngIf="isUserLogged"
        type="button"
        mat-button
        id="btnAccount"
        (click)="goUserData(userName, userId)"
        matTooltip="Your account"
      >
        <img [src]="imgAccountBtn" width="48dp" />
      </button>
      <button
        type="button"
        mat-button
        id="btnHome"
        (click)="goHome()"
        matTooltip="Go Home"
      >
        <img [src]="imgHomeBtn" width="48dp" />
      </button>

      <button
        type="button"
        mat-button
        *ngIf="isUserLogged"
        id="btnLogout"
        (click)="logout()"
        matTooltip="Logout"
      >
        <img [src]="imgLogoutBtn" width="48dp" />
      </button>
      
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
