.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  padding-left: 5%;
}

.title{
  padding-left: 3%;

}

#btnGames {
  width: 64px;
  height: 64px;
}
