.container {
  float: none !important;
  justify-content: space-around;
}

.gamesBtnRow{
  width: inherit;
  margin-top: 25px;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logoutBtn{
  width: inherit;
  margin-top: 25px;
  display:flex;
  justify-content: center;
}

.title {
  margin: 30px auto !important;
  text-align: center;
  font-family: "Ink Free";
  font-size: 60px;
}

.simpleText {
  margin: 30px auto !important;
  text-align: center;
  text-justify: auto;
  font-size: 25px;
  font-family: "Ink Free";
}

.header {
  width: 20%;
  text-align: center;
  font-size: 25px;
  font-family: "Ink Free";
  font-weight: bold;
}
