.container {
  margin: 10dp 10dp !important;
  width: 1280px;
  height: 700px;
}

.drawer {
  padding-left: 5%;
  padding-top: 5%;
  width: 30%;
  min-width: fit-content;
  background-color: transparent;
}

.drawer-content {
  width: 100%;
  margin: 5% 0% !important;
  display: flex;
}

#btnGames {
  width: 90px;
  height: 90px;
}
