<div class="container">
  <table-custom
    [data]="dataSourceLeft"
    [tries]="tries"
    [style]="columnStyleLeft"
    (btnClicked)="buttonClicked()"
    (resetTries)="resetTries()"
  ></table-custom>

  <app-ol-map
    [style]="mapStyle"
    id="ol-map"
    [center]="center"
    [zoom]="zoom"
    [url] = url
  ></app-ol-map>

  <table-custom
    [data]="dataSourceRight"
    [tries]="tries"
    [style]="columnStyleRight"
    (btnClicked)="buttonClicked()"    
    (resetTries)="resetTries()"
  ></table-custom>
</div>
