<div class="container">
  <div hidden> {{userId}} </div>
  <h1 class="title">{{ title }}</h1>
  <p class="simpleText">{{ instructionsSet1 }}</p>
  <p class="simpleText">{{ instructionsSet2 }}</p>
  <div class="actionBtn">
    <button
      *ngIf="isLogged; else NotLogged"
      mat-raised-button
      (click)="onClick(userId)"
      color="primary"
    >
      Go to play!
    </button>
  </div>
  <ng-template #NotLogged>
    <div class="actionBtn">
      <button mat-raised-button (click)="openLogin()" color="accent">Login</button>
    </div>
  </ng-template>
</div>
